name: Update FlatBuffers

on:
  workflow_dispatch:
    inputs:
      server:
        description: 'Target server to update'
        required: true
        default: 'global'
        type: choice
        options:
          - all
          - global
          - cn
          - tw

jobs:
  generate_fbs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main code
        uses: actions/checkout@v4
        with:
          path: main_repo

      - name: Checkout private dumps repository
        uses: actions/checkout@v4
        with:
          repository: elbriant/sagapi-dumps
          token: ${{ secrets.DUMPS_PAT }}
          path: dumps_repo

      - name: Checkout fbs branch
        uses: actions/checkout@v4
        with:
          ref: fbs
          path: fbs_branch

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1

      - name: Fetch Dependencies
        run: dart pub get
        working-directory: main_repo

      - name: Execute Generation Pipeline
        run: dart run bin/sagapi_flatbuffers.dart --server ${{ github.event.inputs.server }} --dumps-path ../dumps_repo/DummyDlls --out-path ../fbs_branch
        working-directory: main_repo

      - name: Commit and Push to fbs branch
        working-directory: fbs_branch
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          
          SERVER_INPUT="${{ github.event.inputs.server }}"
          CURRENT_DATE=$(date +'%Y-%m-%d')
          COMMIT_MSG="Auto-update FBS schemas | Server: $SERVER_INPUT | Date: $CURRENT_DATE"
          
          # Map the server input to the exact package folder name
          if [ "$SERVER_INPUT" != "all" ]; then
            PKG_NAME=""
            if [ "$SERVER_INPUT" == "global" ]; then PKG_NAME="com.YoStarJP.Arknights"; fi
            if [ "$SERVER_INPUT" == "cn" ]; then PKG_NAME="com.hypergryph.arknights"; fi
            if [ "$SERVER_INPUT" == "tw" ]; then PKG_NAME="tw.txwy.and.arknights"; fi
            
            MANIFEST_PATH="../dumps_repo/DummyDlls/$PKG_NAME/manifest.json"
            
            # Extract app_version using jq if the manifest exists
            if [ -f "$MANIFEST_PATH" ]; then
              APP_VERSION=$(jq -r '.app_version' "$MANIFEST_PATH")
              COMMIT_MSG="Auto-update FBS schemas | Server: $SERVER_INPUT (v$APP_VERSION) | Date: $CURRENT_DATE"
            fi
          fi
          
          git diff-index --quiet HEAD || git commit -m "$COMMIT_MSG"
          git push origin fbs